<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/img/icon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>CHAT BOX</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/static/css/animate.min.css" rel="stylesheet"/>
    <link href="/static/css/paper-dashboard.css" rel="stylesheet"/>
    <link href="/static/css/demo.css" rel="stylesheet" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/themify-icons.css" rel="stylesheet">
    <style>
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
    </style>
</head>
<body>
	{% for k in user %}
    <div class="wrapper">
	   <div class="sidebar" data-background-color="white" data-active-color="danger">
        	<div class="sidebar-wrapper">
                <div class="logo">
                {% for i in user %}
                    <a href="#" class="simple-text" style="color: orange;">
                    {{ i[0] }}
                    </a>
                {% endfor %}
                </div>

                <ul class="nav">
                    <li>
                        <a href="/profile">
                            <i class="ti-user"></i>
                            <p>FRIEND</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="message">
                            <i class="ti-bell"></i>
                            <p>MESSAGE</p>
                        </a>
                    </li>
                </ul>
        	</div>
        </div>

        <div class="main-panel">
    		<nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">CHAT BOX</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            
                          
    						<li>
                                <a href="/logout">
    								<i class="fa fa-power-off" style="font-size:22px"> </i>
    								<p>Logout</p>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
            <div class="col-md-8">
                <br>
                <div class="panel panel-info">
                <p style="color: green;margin-left: 18em;">CHAT BOX</p>
                    <div class="panel-heading">
                        {% for i in chat %}
                        <p><b style="color: green;">{{ i[0] }}</b></p>
                        {% endfor %}
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                    {% for i in message %}
                                    	{% if k[1] == i[1] %}
                                        <div style="margin-left: 35em;" >
                                            <p>{{ i[3] }}</p>
                                            <small class="text-muted">{{ i[1] }}</small>
                                        </div>
                                        {% endif %}
                                        {% if k[1] != i[1] %}
                                        <div >
                                            <p>{{ i[3] }}</p>
                                            <small class="text-muted">{{ i[1] }}</small>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        {% for i in chat %}
                        <div class="input-group">
                            <form method="POST" action="/sentmessage">
                                <input type="text" class="form-control" id="textbox" name="message" placeholder="Enter Message" style="background-color: #d2d5db;" />
                                 <a type="submit" name="search" onclick="this.href='/sentmessage/{{ i[1] }}/'+document.getElementById('textbox').value" class="btn btn-info" style="width: 10em; height: 3em; margin-left: 35em; margin-top: 1em;"><b>SENT</b></a>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
            <br>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        ONLINE USERS
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            {% for i in friend %}
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle" style="max-height:40px;" src="/static/img/{{ i[3] }}" />
                                        </a>
                                        <div class="media-body" >
                                            <a href="/message/{{ i[1] }}">{{ i[0] }}</a> 
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <footer class="footer">
            <div class="container-fluid">
    				
            </div>
        </footer>
        </div>
    </div>
    {% endfor %}
</body>

    <!--   Core JS Files   -->
    <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/static/js/bootstrap-checkbox-radio.js"></script>

	<!--  Charts Plugin -->
	<script src="/static/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="/static/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="/static/js/demo.js"></script>

</html>
