<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>REQUEST</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="static/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="static/css/paper-dashboard.css" rel="stylesheet"/>

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="static/css/demo.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="static/css/themify-icons.css" rel="stylesheet">

</head>
<body>

<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    	<div class="sidebar-wrapper">
            <div class="logo">
            {% for i in user %}
                <a href="#" class="simple-text" style="color: orange;">
                    {{ i[0] }}
                </a>
            {% endfor %}
            </div>

            <ul class="nav">
                <li>
                    <a href="profile">
                        <i class="ti-user"></i>
                        <p>FRIEND</p>
                    </a>
                </li>
                <li>
                    <a href="message">
                        <i class="ti-bell"></i>
                        <p>MESSAGE</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                       
						<li>
                            <a href="logout">
								<i class="fa fa-power-off"></i>
								<p>LOGOUT</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-7">
                        <div class="card">
                            <div class="content">
                                <form method="POST" action="/request">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label></label>
                                                <input type="text" class="form-control border-input" placeholder="Enter Friend Email / Name" name="name" style="margin-left: 2em;">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <button class="btn btn-lg btn-success" style="margin-top: 1em; margin-left: 4em;">Send Request</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" style="margin-top:-28em;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-1">
                        <div class="card">
                            <div class="content">
                                <form method="POST" action="/reject">
                                    <div class="row">
                                        <div class="col-md-6">
                                        <label>Friend Request</label>
                                        {% for i in requestin %}
                                            <div class="form-group"> 
                                                <p style="color: green; margin-left: 1em;">{{ i[0] }}
                                                <a type="submit" class="btn btn-danger" style="width: 55px; margin-left: 18em; margin-top: -2.7em;" href="/reject/{{ i[0] }}"><span class="fa fa-thumbs-down"></span></a> <a class="btn btn-success" style="width: 55px; margin-left: 24em; margin-top: -5.4em;" href="/accept/{{ i[0] }}" type="submit"><span class="fa fa-thumbs-up"></span></a></p>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-1">
                        <div class="card">
                            <div class="content">
                                <form method="POST" action="/cancel"> 
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Request Send</label>
                                                {% for i in requestout %}
                                                    <div class="form-group"> 
                                                        <p style="color: green; margin-left: 1em;">{{ i[1] }}
                                                        <a type="submit" class="btn btn-danger" style="width: 55px; margin-left: 18em; margin-top: -2.7em;" href="/cancel/{{ i[1] }}"><span class="fa fa-thumbs-down"></span></a>  
                                                        </p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                
				<div class="copyright pull-right">
                    
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="static/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="static/js/bootstrap.min.js" type="text/javascript"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="static/js/bootstrap-checkbox-radio.js"></script>

	<!--  Charts Plugin -->
	<script src="static/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="static/js/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="static/js/paper-dashboard.js"></script>

	<!-- Paper Dashboard DEMO methods, don't include it in your project! -->
	<script src="static/js/demo.js"></script>

</html>
